<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mafia Game</title>
    <link rel="stylesheet" href="/assets/css/game.css"/>
</head>
  <body>
    <a href="http://localhost:8080">Mafia</a>
    <div class="container">
        <div id="gameScreen" class="centered">
        <header>
            <h1>Welcome to Room: {{.Code}}</h1>
        </header>

        <section class="game-info" id="gameInfo">
            <div class="players">
                <h2>Players {{len .Players}}</h2>
                <ul id="playerList">
                {{range .Players}}
                    <li class="{{if .IsActive}}active{{end}}">{{.Name}}</li>
                {{end}}
                </ul>
            </div>

            {{ if .ActiveRoles }}
                <div class="roles-info">
                    <h2>Active Roles</h2>
                    <ul id="roleList">
                        {{range .ActiveRoles}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                </div>
            {{ else }}
                <p class="warning">Not enough players to start the game. Minimum: 4</p>
            {{ end }}

            <button class="startBtn" id="startButton" type="button" disabled>Start</button>

            
        </section>
        <div id="statusBar" style="margin-top: 1rem; font-size: 1.2rem;">
            Waiting for players...
        </div>
        <div id="roleContainer" style="display:none; font-size: 24px; text-align: center; margin-top: 20px;"></div>
        <div id="gameArea" style="display: none;">
            <div id="messages"></div>
            <div class="chat-box">
                <input type="text" id="messageInput" placeholder="Enter your message">
                <button id="sendButton">Send</button>
            </div>
            <button id="microphoneButton" class="muted">🔇</button>
        </div>
    </div>
</div>

<script>
    const startButton = document.getElementById("startButton")
    const playerList = document.getElementById("playerList")
    const roleContainer = document.getElementById('roleContainer');
    const gameArea = document.getElementById('gameArea');
    const gameScreen = document.getElementById('gameScreen');
    const sendButton = document.getElementById("sendButton")
    const microphoneButton = document.getElementById("microphoneButton")
    
    var roomCode
    var ws
    var stream
    var mediaRecorder

    var chunks = []

    var micMode = false

    function checkPlayerCount() {
        const playerCount = playerList.querySelectorAll("li").length
        startButton.disabled = playerCount < 4
    }

    checkPlayerCount()

    const observer = new MutationObserver(checkPlayerCount)
    observer.observe(playerList, { childList: true })

    startButton.addEventListener('click', () => {
        roomCode = window.location.pathname.split("/").pop()
        fetch("http://localhost:8080/start", {
            method: "POST",
            headers: {
                'Content-Type': "application/json"
            },
            body: JSON.stringify({ roomCode })
        })
        .then(res => {
            if (!res.ok) throw new Error("Failed to start game")
            return res.json()
        })
        .then(data => {
            connect()

            const currentUser = getCurrentUserNameFromURL()
            const me = data.find(p => p.name === currentUser)
            console.log(me)
            if (me) {
                startGameUI(me)
            }
        })
        .catch(err => console.error(err))
    })

    function getCurrentUserNameFromURL() {
        const params = new URLSearchParams(window.location.search)
        return params.get("user")
    }

    function startGameUI(me) {
        document.getElementById("roleContainer").style.display = "none"
        document.getElementById("gameInfo").style.display = "none"
        document.getElementById("statusBar").style.display = "none"
        document.getElementsByTagName("header")[0].style.display = "none"

        const roleContainer = document.getElementById("roleContainer")
        roleContainer.textContent = `Your role is: ${me.role}`
        roleContainer.style.display = "block"

        setTimeout(() => {
            roleContainer.style.display = "none"
            document.getElementById("gameArea").style.display = "block"
        }, 3000)
    }

    sendButton.addEventListener("click", () => {
    const input = document.getElementById("messageInput")
    if (input.value.trim()) {
        const currentUser = getCurrentUserNameFromURL()
        const messageData = {
            sender: currentUser,
            content: input.value.trim(),
            timestamp: new Date().toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})
        }
        ws.send(JSON.stringify(messageData))
        input.value = ""
    }
})

document.getElementById("messageInput").addEventListener("keypress", (e) => {
    if (e.key === "Enter") {
        document.getElementById("sendButton").click()
    }
})

microphoneButton.addEventListener("click", sendAudio)

function connect() {
    ws = new WebSocket(`ws://localhost:8080/ws/chat?room=${roomCode}`)
    ws.binaryType = "arraybuffer"

    ws.onopen = function() {
        console.log("Connected to WebSocket server")
    }

    ws.onmessage = function(event) {
        if (event.data instanceof ArrayBuffer) {
	     console.log("ws.onmessage is being run")
            const audioBlob = new Blob([event.data], { type: "audio/webm" });
		const audioURL = URL.createObjectURL(audioBlob); 
		const audio = new Audio(audioURL);
		
	console.log(audioBlob, audioURL)
	console.log(event.data.byteLength)
        
            audio.play().catch(err => {
                console.error("Audio playback failed:", err)
            })

            audio.onended = () => {
                URL.revokeObjectURL(audioURL)
            }
        } else {

            const messageDisplay = document.getElementById("messages")
            const messageElement = document.createElement("p")
            
            try {
                const messageData = JSON.parse(event.data)
                messageElement.innerHTML = `
                    <span class="message-sender">${messageData.sender}:</span>
                    <span class="message-content">${messageData.content}</span>
                    <span class="message-time">${messageData.timestamp}</span>
                `
            } catch (e) {
                messageElement.innerHTML = `
                    <span class="message-sender">Unknown:</span>
                    <span class="message-content">${event.data}</span>
                    <span class="message-time">${new Date().toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}</span>
                `
            }
            
            messageDisplay.appendChild(messageElement)
            messageDisplay.scrollTop = messageDisplay.scrollHeight
        }
    }

    ws.onclose = function() {
        console.log("WebSocket connection closed, retrying...")
        setTimeout(connect, 1000)
    }

    ws.onerror = function(error) {
        console.error("WebSocket error:", error)
    }
}

async function sendAudio() {
    if (!stream) {
        stream = await navigator.mediaDevices.getUserMedia({ audio: true })
    }

    if (!mediaRecorder) {
        mediaRecorder = new MediaRecorder(stream)

        mediaRecorder.ondataavailable = async (e) => {
            if (e.data.size > 0) {
                const arrayBuffer = await e.data.arrayBuffer()
                const base64Data = btoa(String.fromCharCode(...new Uint8Array(arrayBuffer)))

                console.log(e.data)
                chunks.push(e.data)

                fetch("http://localhost:8080/audio", {
                    method: "POST",
                    headers: {
                        "Room-Code": roomCode,
                        "Content-Type": "audio/webm"
                    },
                    body: JSON.stringify({
                        mimeType: e.data.type,
                        audio: base64Data
                    })
                })
            }
        }

        mediaRecorder.onstop = () => {
            chunks = []
        }
    }

    toggleMicrophone()

    if(micMode) {
        console.log("Microphone is on")
        mediaRecorder.start(5000)
    } else {
        console.log("Microphone is off")
        mediaRecorder.stop()
    }
}

function toggleMicrophone() {
    micMode = !micMode;
    
    if (micMode) {
        microphoneButton.className = 'unmuted';
        microphoneButton.textContent = '🎙️';
    } else {
        microphoneButton.className = 'muted';
        microphoneButton.textContent = '🔇';
    }
}

</script>


</body></html>
