<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mafia Game</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
</head>
<body>
  <div class="container">
    <!-- Join Screen -->
    <div id="joinScreen" class="centered">
      <h1>Join Mafia Game</h1>

      <!-- Form to Join a Room -->
      <form action="http://localhost:8080/join" method="POST" id="joinForm">
        <input type="text" id="nameInput" name="username" placeholder="Enter your name" required />
        <input type="text" id="roomInput" name="roomcode" placeholder="Enter room code" required />
        <button type="submit">Join</button>
      </form>

      <!-- Form to Create a Room -->
      <div id="create-room-form">
        <h2>Create a Room</h2>
        <form action="http://localhost:8080/create" method="POST">
          <input type="text" name="username" placeholder="Your Name" required />
          <button type="submit">Create Room</button>
        </form>
      </div>
    </div>
</body>
</html>
